

  <mat-card  class="example-card">
    <mat-card-content>
      <form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Username">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password">
        </mat-form-field>
        <button mat-button color='accent'>LOGIN</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      
    </mat-card-actions>
  </mat-card>